<div class="container principal">

    <div class="row animate__animated animate__fadeIn">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


            <p class="saludo">
                Hola, mi nombre es
            </p>
            <h1>Andrés Tascón.</h1>
            <h2>Construyendo el futuro de internet.</h2>

        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            <p class="descripcion">
                Soy desarrollador de software, me especializo en la creación de aplicaciones para la web y dispositivos moviles con las tecnologias mas populares y diseños adaptables.
            </p>

        </div>


        <div class="button col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button type="button">Dime hola</button>
        </div>
    </div>





    <section class="row section">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Acerca</h3>
            <hr>
        </div>

        <div class="image-perfil col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <img src="assets/img/img-perfil.jpg" alt="" width="250" height="250">
        </div>
        <div class=" col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">

            <p class="parrafo">
                Con gran entusiasmo por aprender y enfrentar nuevos retos, de manera autodidacta empece a estudiar y a conocer todo lo relacionado con el mundo de la tecnologia;
            </p>

            <p class="parrafo">
                Y asi aprendi a desarmar y armar equipos de computo y dispositivos moviles.
            </p>

            <p class="parrafo">
                Decidi hacer un curso sobre el mantenimiento de estos dispositivos, pero alrededor del 2010 descubri el mundo del desarrollo de plataformas informáticas, inmediatamente quede impactado por lo que se puede lograr y así encontre mi pasión, lo mejor de todo
                dejaba volar mi imaginación.
            </p>
        </div>

    </section>




</div>