<div class="container principal">

    <div class="row animate__animated animate__fadeIn">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <p class="saludo">
                Hola, mi nombre es
            </p>
            <h1>Andrés Tascón.</h1>
            <h2>Construyendo el futuro de internet.</h2>

        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            <p class="descripcion">
                Soy desarrollador de software, me especializo en la creación de aplicaciones para la web y dispositivos moviles con las tecnologias mas populares y diseños adaptables.
            </p>

        </div>


        <div class="button col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button type="button">Dime hola</button>
        </div>
    </div>





    <div id="acerca" class="row section ">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Sobre mi</h3>
            <hr>
        </div>

        <div class="image-perfil col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
            <img class="img" src="assets/img/img-perfil.jpg" alt="" width="250" height="250">
        </div>
        <div class=" col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">

            <p class="parrafo">
                Con gran entusiasmo por aprender y enfrentar nuevos retos, de manera autodidacta empece a estudiar y a conocer todo lo relacionado con el mundo de la tecnologia;
            </p>

            <p class="parrafo">
                Y asi aprendi a desarmar y armar equipos de computo y dispositivos moviles.
            </p>

            <p class="parrafo">
                Decidi hacer un curso sobre el mantenimiento de estos dispositivos, pero alrededor del 2010 descubri el mundo del desarrollo de plataformas informáticas, inmediatamente quede impactado por lo que se puede lograr, así fue como encontre mi pasión, lo mejor
                de todo dejaba volar mi imaginación. Actualmente vivo en Palmira, Valle del cauca, Colombia y me dedico a construir aplicaciones geniales que puedan ayudar a las personas mejorar sus vidas.
            </p>

            <p class="parrafo">
                algunos lenguajes, tecnologias y frameworks que uso:
                <br>
                <a href="https://www.w3schools.com/js/js_es6.asp" target="_blank">JavaScript (ES6+)</a>, <a href="https://angular.io/" target="_blank">Angular TypeScript</a>, <a href="https://nodejs.org/es/" target="_blank">Node.js</a>,

                <a href="https://www.w3schools.com/html/default.asp" target="_blank">HTML & (S)CSS</a>, <a href="https://primefaces.org/primeng/showcase/#/" target="_blank">Primeng</a>, <a href="https://ionicframework.com/" target="_blank">Ionic</a>,
                <a href="https://flutter.dev/" target="_blank">Flutter dart</a>,

                <a href="https://spring.io/projects/spring-boot" target="_blank">Java Spring Boot</a>, <a href="https://www.mongodb.com/es" target="_blank">Mongo DB</a>, <a href="https://www.mysql.com/" target="_blank">MySql</a>.
            </p>



        </div>

    </div>


    <div id="experiencia" class="experiencia">
        <h3>¿Donde he trabajado?</h3>
        <hr>

        <!--first section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">1</div>
            </div>
            <div class="col-6 efect-rigth">
                <h5>Proyecto NBD ocupacional</h5>
                <p>Diseñe un aplicativo dirigido al sector salud enfocado en la salud y seguridad en el trabajo.</p>
            </div>
        </div>
        <!--path between 1-2-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <!--second section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right timeline-rigth efect-left">
                <h5>Carvajal tecnologías y servicios</h5>
                <p>Fui colaborador por parte de SUMAR Temporales para Carvajal tecnologías y servicios (e-commerce) como técnico especializado en implementación de software.</p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">2</div>
            </div>
        </div>
        <!--path between 2-3-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner top-left"></div>
            </div>
        </div>
        <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">3</div>
            </div>
            <div class="col-6 efect-rigth">
                <h5>Servicios integrales empresariales LLANO</h5>
                <p>Actualmente trabajo como desarrollador Mean Stack creando multiples plataformas empresariales y comerciales.</p>
            </div>
        </div>
    </div>


    <div id="proyectos" class="proyectos">
        <h3>Algunas cosas que he construido</h3>
        <hr>

        <div class="col-md-10 offset-md-1">
            <ul class="timeline-p">
                <li>
                    <a target="_blank" href="http://nbdocupacional.com.co/">NBD Ocupacional</a>
                    <a href="#" class="float-right">Julio, 2015</a>
                    <p>Aplicación de serguridad y salud en el trabajo.</p>
                    <img class="img-proyectos" src="assets/img/nbdocupacional.jpg" alt="" width="500" height="250">
                </li>
                <li>
                    <a target="_blank" href="#">AES emergencias</a>
                    <a href="#" class="float-right">Noviembre, 2019</a>
                    <p>Aplicativo movil para consulta de PQRS.</p>
                    <img class="img-aes" src="assets/img/aes.jpg" alt="" width="250" height="500">
                </li>
                <li>
                    <a target="_blank" href="https://siisweb.com/modulocasos/">Siisweb modulo casos</a>
                    <a href="#" class="float-right">Abril, 2020</a>
                    <p>Aplicativo desarrollado para la secretaria de salud de Palmira con el fin de contrarrestar la emergencia de salud.</p>
                    <img class="img-proyectos" src="assets/img/modulocasos.jpg" alt="" width="500" height="250">
                </li>
                <li>
                    <a target="_blank" href="https://siisweb.com/contratos/">Siisweb modulo contratos</a>
                    <a href="#" class="float-right">Octubre, 2020</a>
                    <p>Aplicativo para la gestion de contratistas y supervisores.</p>
                    <img class="img-proyectos" src="assets/img/modulocontratos.jpg" alt="" width="500" height="250">
                </li>
                <li>
                    <a target="_blank" href="#">SAPS Plus+</a>
                    <a href="#" class="float-right">Enero, 2021</a>
                    <p>Aplicación creada para la caracterización y georeferenciación de la ciudad de Palmira.</p>
                    <img class="img-proyectos" src="assets/img/sapsplus.jpg" alt="" width="500" height="250">
                </li>
            </ul>
        </div>

    </div>

    <div id="contacto" class="contacto">
        <h3>Comunicate conmigo</h3>

        <p>Ya sea que tenga una pregunta o simplemente quiera saludar, ¡haré todo lo posible para responderle! <br><br> <a target="_blank" href="https://api.whatsapp.com/send?phone=+573175654712"><i class="fab fa-whatsapp-square"></i> WhatsApp</a>
            <br><br><a target="_blank" href="https://t.me/miketascon"><i class="fab fa-telegram"></i> Telegram</a> </p>










    </div>


</div>