.principal {
    font-family: 'Source Code Pro', monospace;
    padding-top: 100px;
}

.principal h1 {
    color: var(--lightest-slate) !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
}

.principal h2 {
    color: var(--light-slate) !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.principal h3 {
    color: var(--light-slate) !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.principal h5 {
    color: var(--light-slate) !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.section {
    padding-top: 60px;
    padding-bottom: 40px;
}

.descripcion {
    color: var(--quinto) !important;
    padding-top: 25px;
    padding-bottom: 40px;
}

.saludo {
    color: var(--white)! important;
}

p {
    color: var(--quinto);
}

hr {
    background-color: var(--eucalyptus);
}

.parrafo {
    text-justify: auto;
}

.parrafo a {
    color: var(--eucalyptus);
    font-size: 11px;
}

.experiencia {
    padding-top: 120px;
    padding-bottom: 80px;
}

.proyectos {
    padding-top: 60px;
    padding-bottom: 80px;
}

.button a {
    color: var(--light-slate);
    background: var(--background-cool-transparent) !important;
    border: 1px var(--eucalyptus) solid;
    border-radius: 3px;
    padding: 20px;
    text-decoration: none;
}

button:hover {
    color: var(--eucalyptus);
}

.button {
    padding-bottom: 10em;
}


/*******Section acerca***************************/

.image-perfil {
    border: 1px;
    border-color: (--quinto);
    padding-left: 20px;
}

.image-perfil img {
    filter: invert(100%);
    padding-top: 10px;
}

.image-perfil img:hover {
    filter: invert(0%);
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}


/***************experiencia*******************/

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: var(--quinto);
    color: var(--white);
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    align-self: stretch;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid var(--eucalyptus);
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid var(--eucalyptus);
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid var(--eucalyptus);
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}


/*********************proyectos********************************/

ul.timeline-p {
    list-style-type: none;
    position: relative;
}

ul.timeline-p:before {
    content: ' ';
    background: var(--quinto);
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline-p>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline-p>li a {
    color: var(--eucalyptus) !important;
}

ul.timeline-p>li:before {
    content: ' ';
    background: var(--light-slate);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--eucalyptus);
    left: -12px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.img-proyectos {
    filter: blur(2px);
}

.img-aes {
    filter: blur(2px);
}

.img-proyectos:hover {
    filter: blur(0px);
}

.img-aes:hover {
    filter: blur(0px);
}

@media all and (max-width: 770px) {
    .img-proyectos {
        height: 200px;
        width: 400px;
    }
}

@media all and (max-width: 490px) {
    .img-proyectos {
        height: 150px;
        width: 300px;
    }
}

@media all and (max-width: 375px) {
    .img-proyectos {
        height: 100px;
        width: 200px;
    }
}

@media all and (max-width: 770px) {
    .img-aes {
        height: 400px;
        width: 200px;
    }
}

@media all and (max-width: 490px) {
    .img-aes {
        height: 300px;
        width: 150px;
    }
}

@media all and (max-width: 375px) {
    .img-aes {
        height: 200px;
        width: 100px;
    }
}


/************************Contacto*********************/

.contacto {
    padding-top: 150px;
    padding-bottom: 150px;
}

.contacto h3 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.contacto p {
    text-align: center;
}

.contacto a {
    text-decoration: none;
    color: var(--lightest-slate);
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.contacto a:hover {
    color: var(--eucalyptus);
}


/*********************Media querys***********************/

@media all and (max-width: 991px) {
    .image-perfil img {
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 600px) {
    .principal h1 {
        font-size: 40px;
    }
    .principal h2 {
        font-size: 30px;
    }
    /*  .image-perfil img {
        width: 150px;
        height: 150px;
    } */
}

@media all and (max-width: 300px) {
    .image-perfil img {
        width: 150px;
        height: 150px;
    }
}