/********************** Nuevo header ************************************/

nav {
    background-color: var(--background-cool-transparent) !important;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    border-top: 3px solid #21465e;
    backdrop-filter: blur(3px);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo a {
    color: var(--eucalyptus);
}

a:hover {
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
    color: var(--light-slate);
    transition: 500ms;
}

.menu li {
    font-size: var(--fz-sm);
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: var(--fz-xxl);
}

.button.secondary a {
    color: var(--light-slate);
}

.button.secondary {
    border-bottom: 1px var(--eucalyptus) solid;
}

.toggle a {
    color: var(--light-slate);
}

.toggle a:hover {
    color: var(--light-slate);
    color: var(--green-hover);
}

.links {
    color: var(--light-slate);
    font-size: var(--fz-sm);
}

.links:hover {
    filter: blur(0.7px);
    transition: 800ms;
    color: var(--green-hover);
}

.navScroll {
    position: fixed;
}


/**************************** Mobile menu ************************************/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}


/*************************************** Tablet menu ****************************/

@media all and (min-width: 600px) {
    .menu {
        justify-content: center !important;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px var(--eucalyptus) solid;
        border-radius: 3px;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: var(--green-hover);
    }
}


/**************************************** Desktop menu *************************************/

@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}

.arriba {
    display: none;
    padding: 10px;
    background-color: var(--background-cool-transparent) !important;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 2;
    color: var(--eucalyptus);
    border-radius: 50%;
}

.arriba:hover {
    color: var(--light-slate);
}

.display {
    display: inline-block;
}