<header id="main-header">

    <div class="menu_bar">
        <a href="" class="bt-menu  fonttwo">
            <i id="icon" class="fa fa-bars icon" aria-hidden="true"></i>{{ name }}
        </a>
    </div>





    <a id="logo-header" href="#">
        <span class="site-name fonttwo">{{ name }}</span>
        <span class="site-desc fonttwo">{{ profession }}</span>
    </a>
    <nav class="menu_principal">
        <ul>
            <li><a href="#" class="fontone links">{{ acerca }}</a></li>
            <li><a href="#" class="fontone links">{{ experiencia }}</a></li>
            <li><a href="#" class="fontone links">{{ proyectos }}</a></li>
            <li><a href="#" class="fontone links">{{ contacto }}</a></li>
        </ul>
    </nav>
</header>